riderModule.iml
/_ReSharper.Caches/

# Rider
.idea/
sonarlint/
Migrations/

# Visual Studio Code
.vscode/

# Archivos binarios generados
bin/
obj/

# Archivos de compilación
*.dll
*.exe
*.pdb

# Archivos de salida de compilación
*.class
*.jar

# Archivos de configuración de Rider
*.iml
*.ipr
*.iws

# Archivos de respaldo y temporales
*~
*.swp
._*
.DS_Store

# Dependencias y paquetes de NuGet
packages/
*.nupkg
Migrations/
